<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="/">GTO SYSTEM</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    {% for mainmenu in mainmenu_items %}
                        <li><a href="{{ mainmenu.url }}">{{ mainmenu.link_name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
